Assembly-CSharp-firstpass.csproj
Temp/bin/Debug/UnityEditor.xml
Temp/bin/Debug/UnityEngine.Analytics.xml
Temp/bin/Debug/UnityEngine.HoloLens.xml
Temp/bin/Debug/UnityEngine.Networking.xml
Temp/bin/Debug/UnityEngine.PlaymodeTestsRunner.xml
Temp/bin/Debug/UnityEngine.UI.xml
Temp/bin/Debug/UnityEngine.VR.xml
Temp/bin/Debug/UnityEngine.xml
